@import "../mixins.scss";

header {
    display: flex;
    min-height: calc(100vh - var(--nav-height));

    div.jumbo {
        position: relative;
        height: inherit;
        min-width: 50vw;

        img.jumbo {
            border-radius: 15px;
            background-image: url("../assets/code-lowres.png");
            background-position: center;
            background-size: cover;

            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            width: 100%;

            opacity: 0;
            @keyframes slide-in {
                from {
                    transform: translate(100%, -50%);
                }
                to {
                    transform: translate(var(--img-slide), -50%);
                    opacity: 1;
                }
            }

            animation: slide-in forwards 1.1s ease var(--img-anim-delay);

            transform: translateY(-50%);
        }
    }
    div.content {
        @keyframes slide-up {
            from {
                transform: translateY(200px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @mixin animation($delay) {
            opacity: 0;
            animation: slide-up 0.55s ease-out forwards $delay;
        }

        margin-left: var(--margin-sides);
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        height: inherit;

        min-width: var(--main-width);

        h1 {
            font-size: var(--title-size);
            @include animation(0s);
        }

        div.desc {
            margin: 65px 0;

            p {
                font-size: 1rem;
                line-height: 2rem;
                margin: 18px 0;
            }

            @include animation(0.1s);
        }

        div.buttons {
            display: flex;
            flex-direction: row;

            a {
                margin-left: 10px;

                &:first-child {
                    margin: 0;
                }
                button {
                    @include big-button(indigo);
                }
            }

            @include animation(0.2s);
        }
    }
}
