nav {
    width: 100vw;
    height: var(--nav-height);
    border-bottom: solid 1px black;

    padding: 0 var(--margin-sides);

    display: flex;
    align-items: center;
    justify-content: space-between;

    text-transform: uppercase;

    transform: translateY(-100%);

    @keyframes slide-down {
        from {
            transform: translateY(-100%);
        }

        to {
            transform: translateY(0);
        }
    }

    animation: slide-down 0.4s ease-out forwards 0.25s;

    div.menu {
        display: flex;
        align-items: center;
        height: 100%;

        * {
            margin-left: 40px;
        }

        a {
            display: flex;
            align-items: center;
            height: 100%;
        }

        @keyframes hue-rotate {
            from {
                filter: hue-rotate(0deg);
            }
            to {
                filter: hue-rotate(359deg);
            }
        }

        a.bmc {
            height: 2rem;
            border: 1px solid black;
            border-radius: 7px;
            overflow: hidden;

            img {
                height: 100%;
                margin: 0;
                animation: hue-rotate 3s infinite;
            }
        }
    }

    div.hamburger {
        display: none;

        img {
            height: 35px;
            transform: translateY(2px);
        }
    }
}

@media only screen and (max-width: 700px) {
    nav div.menu {
        display: none;
    }

    div.hamburger {
        display: block !important;
    }
}

@media only screen and (max-width: 500px) {
    :root {
        --nav-height: 60px;
    }
}
