@import "../mixins.scss";

section {
    width: 100vw;

    div.title {
        width: 100%;
        background: indigo;
        margin: 10px 0;
        display: flex;
        padding: 3rem var(--margin-sides);
        color: white;

        align-items: center;

        h1 {
            text-transform: uppercase;

            font-size: calc(var(--title-size) / 2);
        }

        img {
            height: 4rem;
            transition: opacity 0.3s;

            &:hover {
                opacity: 0.75;
            }
        }

        span.spacer {
            font-size: 1.5rem;
            font-weight: bold;
            display: block;
            transform: translateY(-8%);

            padding: 0 25px;
        }

        a {
            font-size: 1rem;
            font-weight: lighter;
        }
    }

    div.projects {
        width: 100%;
        height: 100%;

        $card-margin: 10px;
        padding: 65px calc(var(--margin-sides) - #{$card-margin});

        display: flex;
        flex-wrap: wrap;

        div.card {
            /*
            Have to do it in this goofy way with variables because react-scripts build
            modyfies the calc function on the width if i just put the values inline.
            */
            --one-third: calc(100% / var(--project-cols));
            --calculated-margin: calc(#{$card-margin} * var(--project-cols));
            
            width: calc(var(--one-third) - var(--calculated-margin));


            padding: 50px 35px;

            margin: 20px $card-margin;

            border-radius: 1vh;
            border: 1px solid lightgray;

            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            div.info {
                height: 90%;

                $m: 28px;

                img {
                    height: 100px;
                }

                h1 {
                    font-size: 1.3rem;
                    margin-top: $m;
                }

                p {
                    margin: $m 0;
                    font-size: 0.9rem;
                    line-height: 1.75rem;
                }
            }

            div.buttons {
                display: flex;
                button {
                    @include big-button(indigo);
                    font-size: 0.56rem;
                    padding: 12px;

                    margin: 0 5px;
                }
            }
        }
    }
}
