section.title {
    width: 100vw;
    background: indigo;
    margin: 10px 0;
    display: flex;
    padding: 3rem var(--margin-sides);
    color: white;

    align-items: center;

    h1 {
        text-transform: uppercase;

        font-size: calc(var(--title-size) / 2);
    }

    img {
        height: 4rem;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.75;
        }
    }

    span.spacer {
        font-size: 1.5rem;
        font-weight: bold;
        display: block;
        transform: translateY(-8%);

        padding: 0 25px;
    }

    a {
        font-size: 1rem;
        font-weight: lighter;
    }
}
