@media only screen and (min-width: 3800px) {
    :root {
        --img-slide: 25%;
        font-size: 28px;
    }
}

@media only screen and (max-width: 1500px) {
    :root {
        font-size: 21px;
        --margin-sides: 100px;
    }
}

@media only screen and (max-width: 1400px) {
    :root {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1300px) {
    :root {
        --margin-sides: 70px;
    }
}

@media only screen and (max-width: 1200px) {
    .remove-small {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    :root {
        --title-size: 2.5rem;
    }
}

@media only screen and (max-height: 850px) {
    :root {
        font-size: 19px;
    }
}

@media only screen and (max-width: 700px) {
    @media only screen and (min-height: 750px) {
        header .remove-small {
            display: initial;
        }
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --margin-sides: 40px;
        font-size: 18px;
        --title-size: 2.2rem;
    }
}

@media only screen and (max-width: 500px) {
    :root {
        --margin-sides: 30px;
        --nav-height: 60px;
    }
}

@media only screen and (max-width: 400px) {
    :root {
        --margin-sides: 20px;
    }
}
