div.App {
    width: 100%;
}

p#outdated-message {
    opacity: 0;
    z-index: 1;

    @keyframes fade-in {
        from {
            opacity: 1;
            transform: translateY(-100%);
        }
        99% {
            opacity: 1;
            transform: translateY(0);
        }
        to {
            opacity: 1;
            z-index: 1;
        }
    }

    animation: fade-in 0.4s 0.5s forwards;

    position: fixed;
    top: 0;
    padding: 2px;

    font-size: 0.9rem;
    text-align: center;
    width: 100%;
    background-color: yellow;
}

@media only screen and (min-width: 3800px) {
    :root {
        font-size: 28px;
    }
}

@media only screen and (min-width: 5000px) {
    :root {
        font-size: 33px;
    }
}

@media only screen and (max-width: 1500px) {
    :root {
        font-size: 21px;
        --margin-sides: 50px;
    }
}

@media only screen and (max-width: 1400px) {
    :root {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .remove-small {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    :root {
        --title-size: 2.5rem;
        --margin-sides: 40px;
    }
}

@media only screen and (max-height: 850px) {
    :root {
        font-size: 19px;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        font-size: 18px;
        --title-size: 2.2rem;
    }
}

@media only screen and (max-width: 500px) {
    :root {
        --margin-sides: 30px;
    }
}

@media only screen and (max-width: 400px) {
    :root {
        --margin-sides: 20px;
    }
}
